<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  
  <system.serviceModel>
    <services>
      <service name="RestFullService.Server">
        <endpoint address="" binding="webHttpBinding" contract="RestFullService.IServer" behaviorConfiguration="webBehavior">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors >
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!--<serviceBehaviors>
        <behavior name="webBehavior" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <!--<system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="HesaplamaBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="HesaplamaBehaviour" name="WcfServisKütüphanesi.Hesaplama">
        <endpoint address="http://localhost:53843/Service.svc" binding="basicHttpBinding" bindingConfiguration="" name="HesaplamaEndPoint" contract="WcfServisKütüphanesi.IHesaplama" />
      </service>
    </services>

  </system.serviceModel>-->
  
  
  
  
  
</configuration>
